/Dockerfile
Dockerfile
*.txt
TrabalhoFinal/structure2/code/client/node_modules/
/TrabalhoFinal/structure2/code/client/node_modules/
TrabalhoFinal/structure2/code/client/node_modules/.bin
/TrabalhoFinal/structure2/code/client/node_modules/.bin
TrabalhoFinal/structure2/code/client/node_modules/.bin/*
/TrabalhoFinal/structure2/code/client/node_modules/.bin/*
TrabalhoFinal/structure2/code/client/node_modules/
\TrabalhoFinal\structure2\code\client\node_modules\
TrabalhoFinal\structure2\code\client\node_modules\.bin
\TrabalhoFinal\structure2\code\client\node_modules\.bin
TrabalhoFinal\structure2\code\client\node_modules\.bin\*
\TrabalhoFinal\structure2\code\client\node_modules\.bin\*
node_modules/
TrabalhoFinal/structure2/code/client/node_modules/
/node_modules
node_modules
/build
build
*.json
