/Dockerfile
Dockerfile
*.txt
TrabalhoFinal/code/client/node_modules/
/TrabalhoFinal/code/client/node_modules/
TrabalhoFinal/code/client/node_modules/.bin
/TrabalhoFinal/code/client/node_modules/.bin
TrabalhoFinal/code/client/node_modules/.bin/*
/TrabalhoFinal/code/client/node_modules/.bin/*
TrabalhoFinal/code/client/node_modules/
\TrabalhoFinal\code\client\node_modules\
TrabalhoFinal\code\client\node_modules\.bin
\TrabalhoFinal\code\client\node_modules\.bin
TrabalhoFinal\code\client\node_modules\.bin\*
\TrabalhoFinal\code\client\node_modules\.bin\*
node_modules/
TrabalhoFinal/code/client/node_modules/
/node_modules
node_modules
/build
build
*.json
